/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* TAGS */ 

section{
    background-image: url(../img/zuccona.jpg);
    background-size: 100px;
    background-repeat: repeat;
    padding-bottom: 60px;
}


/* CLASSI */

.bg-red{
    background-color: red;
}

.bg-blue{
    background-color: blue;
}

.bg-purple{
    background-color: purple;
}

.text-red{
    color: red;
}

.bg-gray{
    background-color: gray;
}

.photo-set{
    width: 100%;
    object-fit: fill;
}

.card-flex{
    display: flex;
    flex-direction: column;
    width: 29%;
    border: 1px solid rgb(207, 197, 197);
    box-shadow: 10px 10px 20px black;
    min-width: 200px;
    background-color: white;
}

.pulsante{
    padding: 10px;
    border-radius: 15px;

}

/* ANIMAZIONE */

.card-flex:hover {
    font-size: 150%;
    background-color: rgb(230, 156, 122);
}

.pulsante:hover {
    font-size: 150%;
    background-color: rgb(138, 134, 134);
    color: white;


}

/* FINE */

.card-desc-flex{
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 10px;
}

.list-container-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.text-white{
    color: white;
}

.footer-flex{
    display: flex;
    gap: 5px;
}

.footer-flex-column{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-flex-list{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.text-canc{
    text-decoration: line-through;
}

.text-gray{
    color: rgb(51, 50, 50);
}



/* ID */

#section-container-flex{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#Primo-contenitore-figlio-section-flex{
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 45px;
}

#Secondo-contenitore-figlio-section-flex{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
}

#header-container-flex{
    background-color: rgb(231, 86, 19);
    padding: 35px;
    min-width: 250px;
}

#contenitore-header-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75%;
    align-items: center;
    margin: 0 auto;
    
}

#logo-header{
    width: 150px;
}

#container-footer{
    background-color: black;
    color: white;
    padding: 25px;
    min-width: 250px;
    
}

#footer-container-flex{
    display: flex;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
}